//样式重置代码
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
// 顶部导航
.header-nav{
	width: 100%;
	height: 36px; 
	background: #f7f7f7;
	border-bottom: 1px solid #e8e8e8;
	.top-nav{
		width: 1210px;
		margin: auto;
		line-height: 36px;
		font-size: 12px;
		// overflow: hidden;
		.left-login{
			float: left; 
			li{
				float: left;
				color: #878787;
				margin-right: 20px;
				a{
					color: #878787;
					.red{
						margin-right: 20px;
						color: #e20000;
					}
				}
				a:hover{
					text-decoration: underline;
				} 
			}
		}
		.right-nav{
		float: right;
		li{
			float: left;
			padding: 0 10px;
			position: relative;
			a{     
				color: #666666;
				.drop-icon{
						position: absolute;
						width: 7px;
						height: 4px;
						right: 18px;
						top: 17px;
					}
			}    
			.link{
				width: 74px;
				padding-left: 10px;
				display: block;
			}
			.link-user{
				border: 1px solid #f7f7f7;
			}
				.drop-menu{
					background: #fff;
					position: absolute;
					left: 10px;
					top: 36px;
					width: 84px;
					border: 1px solid #eee;
					border-top: 0;
					display: none;
					z-index: 2;
				}
				.drop-phone{
					width: 336px;
					position: absolute;
					left: auto;
					right: 10px;
					padding: 12px;
					.mobile-code-item{
						height: 170px;
						width: 145px;
						img{
							display: block;
							width: 145px;
							height: 145px;
							margin-bottom: 4px;
						}
						a{
							display: block;
							width: 145px;
							height: 21px;
							line-height: 21px;
							text-align: center;
							color: #fff;
							background: #DA3033;
							border-radius: 3px;
						}
						.btn-client{
							background: #105BAA;
						}
					}
					.fl{
						float: left;
					}
					.fr{
						float: right;
					}
				}   
			}
			li:nth-of-type(2) a{
				text-align: center;
				padding: 0;
			}
			a:hover{
				color:#dc0014;
				text-decoration: underline;
			}
			.link-user:hover{
				background: #fff;
				border-left: 1px solid #eee;
				border-bottom: 0;  
			}
			
			.link-user:hover .drop-icon{
				transform: rotateX(180deg);
			}
			li:hover .drop-menu{
				display: block;
			}
			li:hover .link-user{
				background: #fff;
			}         
		}
	}
}

// logo图
.logo{
	width: auto;
	margin-right: 94px;
	padding-top: 31px;
}
// 购物车
.top-cart{
	  width: 116px;
	  height: 40px;
	  line-height: 40px;
	  border: 1px solid rgba(221,221,221,1);
	  border-radius: 4px;
	  cursor: pointer;
	  position: relative;
	  margin: 26px 0 0 94px;
	  text-align: center;
	 img{
	     width: 22px;
	     height: 21px;  
	     position: absolute;
	     top: 10px;
	     left: 20px;
	 }
	 .cart-btn{
	      font-size: 12px;
	      color: #666;
	      margin-left: 30px;
	 }
	 .shop-num{
	     position: absolute;
	     width: 14px;
	     height: 15px;
	     line-height: 14px;
	     border-radius: 50%;
	     background: red;
	     font-size: 12px;
	     text-align: center;
	     color: #fff;
	     top: 5px;
	     left: 32px;
	 }
}
.top-cart:hover{
    background: #F7F4F8;
}
.top-cart:hover .cart-btn{
    text-decoration: underline  #e20000;
}