@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: '微软雅黑';
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}

.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.none {
	display: none;
}
.Left {
	float: left;
}
body{
	width: 100%;
}
.top {
	width: 100%;
	background-color: #fff;
}
.top .menu-bar {
	width: 100%;
	height: 40px;
}
.view {
	width: 1210px;
	margin: 0 auto;
}
.top .menu-bar .category {
	width: 208px;
	height: 40px;
	position: relative;
	float: left;
	cursor: pointer;
	z-index: 100;
	margin-right: 12px;
}
.top .menu-bar .category h2 span{
	display: block;
	font-weight: 700;
	background: #D52C27;
	width: 208px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	color: #fff;
	font-size: 15px;
}
.top .menu-bar .category h2 span .leftClassifyIcon{
	width: 20px;
	height: 28px;
	vertical-align: middle;
	margin:-3px 12px 0 7px;
}
.category-option {
	width: 208px;
	height: 480px;
	background: rgba(255,255,255,.8);
	position: absolute;
	z-index: 101;
}
.category-option .cat-item {
    overflow: hidden;
    margin: auto 0;
    padding: 5px 6px;
    border: 2px solid rgba(255,253,252,0);
}
.category-option .cat-item dt{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.category-option .cat-item .second_title{
    font-size: 14px;
    color: #323232;
    font-weight: 600;
}
.category-option .cat-item dd{
    height: 20px;
    line-height: 20px;
    float: left;
}
.category-option .cat-item dd a{
    color: #666;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
}
.category-option .cat-item dd b{
    width: 1px;
    height: 12px;
    margin: 0 8px;
    background: #d6d6d6;
    display: inline-block;
    vertical-align: middle;
}

.category-option .cat-item .sub-cat {
	display: none;
}

.category-option .top-cat .sub-cat .sub-cat-links {
    width: 834px;
    /* min-height: 451px; */
    padding: 13px 32px;
    position: absolute;
    left: 208px;
    top: 0;
    border: 2px solid #E4393C;
    background: #FEFCFD;
}

.category-option .sub-cat .sub-cat-links ul li {
    float: left;
    padding: 13px 0;
}
.category-option .sub-cat .sub-cat-links ul li .left-title{
    display: inline-block;
    width: 116px;
    font-size: 13px;
}
.category-option .sub-cat .sub-cat-links ul .sub-content{
    display: inline-block;
    width: 678px;
    margin-left: 23px;
    border-bottom: 1px dashed #DAD8D9;
}
.category-option .sub-cat .sub-cat-links ul .sub-content b{
    width: 1px;
    height: 12px;
    margin: 0 8px;
    background: #d6d6d6;
    display: inline-block;
    vertical-align: middle;
}
.category-option .sub-cat .sub-cat-links ul li a{
    color: #666;
    font-size: 13px;
    text-align: center;
    margin-bottom: 2px;
    display: inline-block;
}

.category-option .top-cat a:hover {
    color: #e62318!important;
    text-decoration: underline;
}
.category-option .no-line a:hover {
    color: #e62318!important;
}
.category-option .cat-item:hover .sub-cat {
	display: block;
	opacity: 1;
	/* animation: subcat .3s ease-in-out; */
}
.category-option .top-cat:hover{
    border: 2px solid #E4393C;
    border-right: 0;
}
/* @keyframes subcat {
from {
padding-left:0
}
to {
padding-left:10px
}
} */
.top .menu-bar .navigator {
	margin-left: 200px;
	height: 40px
}
.top .menu-bar .navigator li {
	padding: 0 14px;
	height: 40px;
	line-height: 40px;
	float: left;
	position: relative
}
.top .menu-bar .navigator li a {
	font-size: 16px;
	font-weight: 400;
}
.top .menu-bar .navigator li.current a {
	color: #e62318
}

/* 轮播 */
.scroll-banner {
	position: relative;
	z-index: 0;
	overflow: hidden;
	height: 480px
}
.scroll-banner .scroll-content {
	height: 480px
}
.scroll-banner .scroll-content li {
	position: absolute;
	height: 480px;
	width: 100%
}
.scroll-banner .scroll-item {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	display: none
}

.scroll-banner .scroll-index {
	position: relative;
	-webkit-filter: inherit;
	filter: inherit;
	width: 100%;
	height: 460px;
	margin: 0 auto
}
.scroll-banner .scroll-item .sc-big {
	position: absolute;
	left: 50%;
	margin-left: -1000px;
}

/* @keyframes fadeInR {
from {
left:-20px
}
to {
opacity:1;
filter:alpha(opacity=100);
left:0
}
} */

.scroll-btn {
	position: absolute;
	overflow: hidden;
	bottom: 30px;
	z-index: 3;
	width: 100%;
	text-align: center
}
.scroll-btn span {
	display: inline-block;
	width: 30px;
	height: 5px;
	margin: 0 1px;
	cursor: pointer;
	background: #fff
}
.scroll-btn span.current {
	background: #333
}
