// 导入外部scss
@import 'public';
body{
    background-color: #f7f7f7 ;
}
header{
    width: 100%;
    background: #fff;
    .main-head{
        width: 1210px;
        height: 96px;
        margin: 0 auto;
        display: flex;
        // justify-content: space-between;
        // main-nav
        .main-logo .logo{
            margin-right: 38.5px!important;
            padding-top: 24px!important;
        }
        .main-nav{
            width: 436px;
            margin-top: 27px;
            margin-right: 78.5px;
            >ul>li{
                float: left;
                margin: 0 7.5px;
                border: 1px solid #FFFEFF;
                border-bottom: 4px solid #FFFEFF;
                padding: 5px 10px 29px;
                >a{
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(101,101,101,1);
                }
            }
        }
        // main-search
        .main-search{
            width: 247px;
            padding-top: 26px;
            .search-box{
                position: relative;
                .search-icon{
                    position: absolute;
                    top: 12px;
                    left: 10px;
                    width: 16px;
                }
                .input-txt{  
                    border: 2px solid #E4393C;
                    color: #b3b3b3;
                    font-size: 14px;
                    height: 34px;
                    padding: 0 0 0 36px;
                    width: 94px;
                    outline: 0;
                    float: left;
                }
                .search-btn{
                    background: #E4393C;
                    border: 0;
                    color: #fff;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 700;
                    height: 38px;
                    line-height: 38px;
                    text-align: center;
                    width: 60px;
                    float: left;
                }
            }
        }
        // main-cart
        .main-cart .top-cart{
            margin-left: 0!important;
            float: right!important;
        }
    }
    
}

// 列表内容 图书畅销榜
.list-content{
    width: 1210px;
    margin: 14px auto 0;
    box-sizing: border-box;
    .point{
        width: 100%;
        height: 48px;
        .point-item{
            line-height: 48px;
            font-size: 12px;
            color: #bbb;
        }
        .point-item::after{
            content : ">";
            margin-left: 2px;
        }
        .point-item:last-of-type{
            color: #666;
        }
        .point-item:last-of-type:after{
            content: "";
        }
    }
    .list-con-nav{
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: #fff6f6;
        display: flex;
        align-items: center;
        border-top: 2px solid #e4393c;
        .title{
            width: 190px;
            font-size: 18px;
            margin-right: 32px;
            color: #333;
            .text-info{
                color: #1a66b3!important;;
            }
        }
        .nav-list{
            width: 1000px;
            height: 100%;
            display: flex; 
            li.active{
                border-bottom: 2px solid #e4393c;
                a{
                    color: #e4393c;
                }
            }
            li.active:after{
                content: "";
                position: absolute;
                bottom: -1px;
                left: 50%;
                margin-left: -3px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-bottom-color:#e4393c;
            }
            li{
                flex: 1;
                text-align: center;
                position: relative;
                display: flex;
                align-items: center;
                a{  
                    display: inline-block;
                    width: 123px;
                    height: 19px;
                    font-size: 15px;
                    color: #666;
                    border-right: 1px solid #ffdcdc;
                }
            }
            li:last-of-type a{
                border: 0;
            }
        }
    }
    .list-detail{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .unit{
            color: #666;
            font-size: 12px;
            font-family: simsun;
        }
        .list-left{
            width: 190px;
            margin-right: 10px;
            padding: 0 10px;
            a{
                color: #666;
            }
            
            .title{
                    height: 28px;
                    line-height: 28px;
                    background: #f7f7f7;
                    border: 1px solid #e8e8e8;
                    h2{
                        font-size: 14px;
                        font-weight: 700;
                        color: #000;
                        text-align: center;
                    }
            }
            .cont{
                border: 1px solid #e8e8e8;
                border-top: 0 none;
                overflow: hidden;
                .list{
                        overflow: hidden;
                }    
                .list:before{
                        content: "";
                        display: table;
                }
                .ad-base a img{
                    width: 100%;
                }
            }
            
        }
        .list-right{
            .border{
                border: 1px solid #dee2e6!important;
            }
            .rank-item{
                padding: 30px 20px;
                background-color: #fff;
                display: flex;
                margin-top: -1px;
                .product-img{
                    width: 146px;
                    height: 146px;
                    margin-right: 20px;
                    padding: 9px;
                    position: relative;
                    .label.rank-1:after{
                        border-color: #f54545 #f54545 rgba(0,0,0,0);
                    }
                    .label:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 0;
                        width: 0;
                        overflow: hidden;
                        font-size: 0;
                        line-height: 0;
                        border-style: solid;
                        border-width: 18px 13px 8px;
                    }
                    .rank-num{
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: #fff;
                        font-size: 12px;
                        line-height: 19px;
                        width: 26px;
                        text-align: center;
                    }
                    a{
                        display: block;
                    }
                    img{
                            width: 128px;
                            height: 128px;
                    }
                }
                .product-desc{
                    flex-grow: 1;
                    padding-right: 30px;
                    .book-title{
                        margin-bottom: 15px;
                        width: 570px;
                        a{
                            padding: 0;
                            color: #333;
                            font-size: 18px;
                            line-height: 26px;
                        }
                    }
                    .book-point{
                        color: #666;
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 6px;
                        width: 570px;
                        height: 40px;
                        overflow: hidden;
                    }
                    .author{
                        font-size: 12px;
                        color: #1a66b3;
                        margin-bottom: 35px;
                        width: 570px;
                    } 
                    .price{
                        .saleprice{
                            font-size: 22px;
                            color: #e4393c;
                        }
                        .listprice{
                            font-size: 14px;
                            color: #999;
                            margin-left: 12px;
                        }
                        .discount{
                            font-size: 14px;
                            margin-left: 6px;
                            color: #1a66b3;
                        }
                    }
                    
                }
                .operate{
                    width: 100px;
                    height: 30px;
                    background-color: #dc3545;
                    color: #fff;
                    font-size: 12px;
                    align-self: flex-end;
                    margin-left: 95px;
                    display: flex;
                    align-items: center;
                    border-radius: 2px;
                    // .add-to-cart{
                    //     margin-left: 95px;
                    // }
                    // .btn{
                    //     display: inline-block;
                    //     text-align: center;
                    // }
                    // .btn-danger{
                    //     color: #fff;
                    //     background-color: #dc3545;
                    //     border-color:#dc3545;
                    // }
                }
            }
        }
            
    }
}
